section {
    width: 48%;
    display: inline-block;
}
iframe {
    width: 99%;
    height: 387px;
}
div#broadCastMessage {
    color: red;
    width: 90%;
    height: 150px;
    border: 1px dotted gray;
    overflow-x: scroll;
    text-align: left;
}
div#message {
    color: green;
    width: 90%;
    height: 150px;
    border: 1px dotted gray;
    overflow-x: scroll;
    text-align: left;
}