.form-control * {
    vertical-align: middle;
}

.form-control output {
    background-color: #EEEEEE;
    padding: 3px;
    vertical-align: top;
}

.form-control div {
    margin: 3px;
}

textarea {
    width: 60%;
    height: 120px;
}